.container {
    background: #fdfdfd;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 0.2rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.container:after {
    clear: both;
    content: "";
    display: table;
}

.container ul.pagination {
    width: 100%;
}

.middle {
    width: fit-content;
}

ul.pagination {
    padding-inline-start: 0;
}

ul.pagination, li.pagination {
    list-style: none;
    display: inline;
}

li.pagination:hover a.pagination {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
}

li.pagination.active:not(.leftChevron, .rightChevron) a.pagination {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
}

li.pagination a.pagination {
    border: solid 1px #d7d7d7;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
}

.middle li.pagination.leftChevron a.pagination:after {
    content: "<";
}

.middle li.pagination.rightChevron a.pagination:after {
    content: ">";
}

.middle li.pagination.dots a.pagination:after {
    content: "...";
}

.middle li.pagination.dots a.pagination {
    border: none;
}

.middle li.pagination.dots {
    pointer-events: none;
}

.middle li.pagination.active {
    pointer-events: none;
}

.selectRecordsPerPage {
    display: inline;
    margin: 1.5em 0 1.5em 1.5em;
}
